<html>
    <head>
        <title>Home Ai Gallery</title>
        <script>
            async function add_branch() {
                const new_branch = document.getElementById('new_branch').value;
                await fetch(`/branch/add/${encodeURIComponent(new_branch)}`);
            }
        </script>
    </head>
    <body>
        <div style="display: flex; flex-direction: row;">
            <span>
                <input id="new_branch" type="text"/>
                <button onclick="add_branch()">Add branch</button>
            </span>
        </div>
        {% block gallery scoped %}{{ entries }}{% endblock %}
    </body>
</html>